 body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

header {
  background: #fff;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 5px #ddd;
}

header h1 {
  margin: 0;
  color: #333;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #555;
}

.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px;
  background: #fff;
}

input, button {
  padding: 8px;
  font-size: 14px;
}

#addBtn {
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
}

#searchBtn {
  background: #009688;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addBox {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background: #fff;
  padding: 15px;
  margin: 15px auto;
  max-width: 320px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ddd;
}

.list {
  display: grid;
  grid-template-columns:  auto auto auto auto;
  gap: 45px;
  padding: 20px;
  max-width: 1300px;
  margin: auto;
}

.card {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 8px #ccc;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-4px);
}

.card button {
  margin: 5px;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
}

.card .editBtn {
  background: #048208;
  color: #fff;
}

.card .delBtn {
  background: #e32b1e;
  color: #fff;
}

.Products {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #444;
}

footer {
  text-align: center;
  padding: 20px;
  background: #fff;
  box-shadow: 0 -1px 5px #ddd;
  margin-top: 30px;
}

img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
}

 
.editBox {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.editContent {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 0 10px #888;
}

.editContent input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btns button {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#saveEdit {
  background: #4caf50;
  color: #fff;
}

#cancelEdit {
  background: #f44336;
  color: #fff;
}
